//Basic
*, *:before, *:after {box-sizing:border-box;}
*:focus {outline:none;}
html {overflow-y:scroll;overflow-x:hidden; font:300 62.5%/1.5 $body; background:$brand-background;
	&.noscroll {overflow-y:hidden;}
}
body {max-width: 100vw; overflow:hidden; margin:0; @include antialias; text-rendering:optimizeLegibility; color:$black;}
img {display:block; max-width:100%; height:auto;}
svg {display: block;}
a {display:inline-block;}

body {overflow: hidden !important;}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

a {
	&:focus {
		background:$focus !important;
		color:$black !important;
	}
}