// media queries
// @use '../global/mq';
// @include mq.mq($from:tablet) {
// }
// }

// Font smoothing
@mixin antialias {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Simple Transitions
@mixin transitionIn {
	transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

@mixin transitionOut {
	transition: all 0.2s cubic-bezier(0, 0, 0, 1);
}

@mixin shadow {
	box-shadow: 0 0 30px -10px rgb(0 0 0 / 30%);
	border-radius: 20px;
}

// Placeholder
@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}

@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}

	@include optional-at-root(':-moz-placeholder') {
		@content;
	}

	@include optional-at-root('::-moz-placeholder') {
		@content;
	}

	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}
}