$breakpoints: (
	mobile: 320px,
	mobileX: 450px,
	phablet: 600px,
	tablet: 740px,
	desktop: 980px,
	desktopL: 1024px,
	wide: 1440px
);

$media-type: 'screen';
$breakpoints-shown: (mobile, tablet, desktop, wide);

@use 'mq'  with (
  $breakpoints: $breakpoints,
  $media-type: $media-type,
  // Uncomment for debugging breakpoints
  // $show-breakpoints: (vga, xga),
);