h1 {
	@include resp(font-size, $min_width, $max_width, 30px, 54px);
	@include resp(margin-bottom, $min_width, $max_width, 16px, 24px);
	font-family:$headings;
	font-weight:800;
	line-height: 1.2em;
	color: $brand-primary;

	&.h1--hero {
		color: $white;
	}
}

h2 {
	@include resp(font-size, $min_width, $max_width, 24px, 36px);
	@include resp(margin-top, $min_width, $max_width, 24px, 40px);
	@include resp(margin-bottom, $min_width, $max_width, 8px, 16px);
	font-family: $headings;
	font-weight: 600;
	line-height: 1.2em;
	color: $brand-primary;
}

h3 {
	@include resp(font-size, $min_width, $max_width, 19px, 28px);
	@include resp(margin-top, $min_width, $max_width, 8px, 16px);
	font-family: $headings;
	font-weight: 600;
	line-height: 1.2em;
	color: $brand-primary;
}

p {
	font-family:$body;
	font-size: 18px;
	color: $black;
	line-height: 1.5em;
	font-weight:300;
	max-width: 75ch;
	margin:0 0 1em;

	&.p2 {
		color:$brand-primary;
		font-family: $headings;
		font-size: 14px;
		font-weight:bold;
		letter-spacing: 0.6px;
		margin:0;
	}
}