@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;400;700&display=swap');

// Fonts
$headings: 'Montserrat', sans-serif;
// $body: HelveticaNeue, 'Open Sans', sans-serif;
$body: 'Open Sans', sans-serif;

// Colours
$white: #ffffff;
$black: #2b2b2b;
$focus: #ffbf47;
$error: #9D1010;


// Branding
$brand-primary: #003F54;
$brand-secondary: #FBC12C;
$brand-background: #F8F8FC;
$brand-button: #2F7D33;

$brand-primary-light: #B3D9E6;