@use '../global/mq';

a {
	color:$black;
	text-decoration: none;

	&:hover,&:focus {
		text-decoration:2px underline;
		text-underline-offset: 0.1em;
	}

	&:hover {
		color:$brand-primary;
	}
}

.btn {
	&__primary {
		font-family: $headings;
		background:$brand-button;
		border:1px solid $brand-button;
		border-radius: 5px;
		color:$white;
		font-weight:bold;
		font-size: 18px;
		letter-spacing: 0.8px;
		padding:8px 16px;

		&:hover {
			color:$white;
			background:darken($brand-button,5%);
			border-color: darken($brand-button, 5%);
		}

		&--search {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			padding:0 12px;
			line-height: 44px;
		}

		&--outline {
			border-color: $black;
			background:none;
			color:$black;

			&:hover {
				background:$black;
				color:$white;
				border-color: $black;
			}
		}
	}

	&__text {
		color:$black;
		font-family:$body;
		font-size: 18px;
		font-weight: bold;
		text-decoration: 2px underline;
		text-underline-offset: 0.1em;
		line-height: 1em;

		&:hover {
			text-decoration: none;
		}

		&--back {
			padding-left:1.6rem;
			position: relative;

			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 3px;
				width: 7px;
				height: 7px;
				margin: auto 0;
				-webkit-transform: rotate(225deg);
				-ms-transform: rotate(225deg);
				transform: rotate(225deg);
				border: solid;
				border-width: 2px 2px 0 0;
				border-color: $black;				
			}

			&:hover {
				&:before {
					border-color: $brand-primary;
				}
			}
		}
	}

	&__search {
		padding:8px;
		background:none;
		box-shadow: none;
		border: 0;
		border-radius: 5px;

		svg * {
			fill:$white;
		}

		&:hover, &.is-active {
			background:$white;

			svg * {
				fill:$black;
			}
		}
		&:focus {
			background:$focus;
			svg * {
				fill:$black;
			}
		}
	}
	&__menu {
		background: none;
		border: 0;
		border-radius: 5px;
		padding: 10px 8px;
		margin-left:1em;

		@include mq.mq($from:desktop) {
			display: none;
		}

		&:hover, &:focus, &:active {
			background:$white;
	
			.hamburger span {
				background:$black;
			}
		}

		&.is-active {

			.hamburger span {
				&:nth-of-type(1) {
					transform: rotate(45deg);
					top: 3px;
				}
	
				&:nth-of-type(2) {
					display: none;
				}
	
				&:nth-of-type(3) {
					transform: rotate(-45deg);
					top: -3px;
				}
			}
		}
	
		.hamburger {
			max-width: 20px;
			display: inline-block;
	
			span {
				width: 20px;
				height: 2px;
				display: block;
				background: $white;
				float: right;
				clear: both;
				position: relative;
	
				&:not(:nth-child(3)) {
					margin: 0 0 4px;
				}
	
				&:nth-of-type(2) {
					width: 12px;
				}
			}
		}
	}
}

button {
	&.close {
		width:20px;
		height:20px;
		background:none;
		border:0;
		padding:0;
		position: relative;
		float: right;

		span {
			display: block;
			position: absolute;
			width:20px;
			height:3px;
			background:$black;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%) rotate(45deg);

			&:last-of-type {
				transform:translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}