@use '../global/mq';

.container {
	width:100%;
	margin:auto;
	
	&__144 {
		max-width: 144em;
		@include resp((padding-left,padding-right), $min_width, $max_width, 6px, 24px);

		@include mq.mq($from:wide) {
			padding:0;
		}
	}

	&__70 {
		max-width: 70em;
		@include resp((padding-left,padding-right), $min_width, $max_width, 6px, 24px);

		@include mq.mq($from:748px) {
			padding:0;
		}
	}

	&--flex {
		@include mq.mq($from:desktop) {
			display:flex;
		}
	}

}