form {
	input {
		&[type="text"] {
			border:1px solid rgba($black, 0.5);
		}
		&[type="checkbox"] {
			cursor: pointer;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			margin: 0;
			opacity: 0;
		}

		&#search {
			width:100%;
			max-width: 30rem;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	label {
		&.label {
			@extend p;

			&__checkbox {
				@extend p;
				display: block;
				padding-left:32px;
				position: relative;
				cursor: pointer;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 24px;
					height: 24px;
					border: 2px solid currentColor;
					background: transparent;
				}

				&:after {
					content: "";
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					position: absolute;
					top: 5px;
					left: 4px;
					width: 16px;
					height: 10px;
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
					border: solid;
					border-width: 0 0 5px 5px;
					border-top-color: transparent;
					opacity: 0;
					background: transparent;
				}

				&.active {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
	legend {
		@include resp(font-size, $min_width, $max_width, 18px, 24px);
		font-family: $headings;
		font-weight: 700;
		color:$black;
	}
	.form {
		&__group {
			
		}
		&__hint {
			@extend p;
		}
		&__date {
			display: flex;

			&--item {
				display: flex;
				flex-direction: column;

				&:not(:last-of-type) {
					margin-right:1.6rem;
				}

				input {
					max-width: 65px;
					font-size: 18px;
					padding:6px;
					color:$black;
				}

				label {
					margin:0 0 0.5em;
				}

				&.year {
					input {
						max-width: 90px;
					}
				}
			}
		}
	}
}