.header {
	&__top {
		@include resp((padding-top,padding-bottom), $min_width, $max_width, 5px, 16px);
		background:$brand-primary;
		
		.container {
			display: flex;
			align-items: center;
		}
	}

	&__search {
		@include resp((padding-top,padding-bottom), $min_width, $max_width, 16px, 40px);
		display: none;
		background:$brand-background;

		&.is-active {
			display: block;
		}
	}
}

.branding {
	margin-right: auto;

	a {
		@include resp((font-size,line-height), $min_width, $max_width, 24px, 32px);
		font-family: $headings;
		color:$white;
		line-height: 1em;
		font-weight:bold;
		text-decoration: none;

		&:hover {
			color:$white;
			text-decoration: underline;
			text-underline-offset: 0.1em;
		}
	}
}

.search {

	p {
		margin:0 0 16px;
	}

	&__form {
		@include resp(margin-bottom, $min_width, $max_width, 24px, 40px);

		form {
			display: flex;
			
			input {
				&[type="text"] {
					font-family:$body;
					font-size: 18px;
					color: $black;
					line-height: 1.5em;
					font-weight:300;
					padding:8px 16px;
					border-radius: 5px;

					@include placeholder {
						color:$black;
					}
				}
			}
		}
	}

	&__popular {
		a {
			// @extend p;
		}

		li {
			&:not(:last-of-type) {
				margin:0 0 8px;
			}
		}
	}
}