ul {
	padding-left:2.4rem;

	li {
		color: $black;
		font-family:$body;
		font-size: 18px;
		font-weight:300;
		line-height: 1.5em;
		list-style-type: none;
		max-width: 75ch;

		&:not(:last-of-type) {
			margin:0 0 0.8rem;
		}

		a {
			text-decoration: underline;
			text-underline-offset: 0.1em;
			color:$brand-primary;

			&:hover {
				text-decoration: none;
			}
		}

	}

	&.list {
		&__standard {
			li {
				list-style-type: disc;
			}
		}
		&__contents {
			padding:0;

			li {
				list-style-type: none;
				
				a {
					padding-left:1em;
					border-left:3px solid rgba($brand-primary, 0.3);

					&:hover {
						border-left:3px solid rgba($brand-primary, 1);
					}
				}

				&:not(:last-of-type) {
					a {
						margin:0 0 4px;
					}
				}
			}
		}
	}
}