@use '../global/mq';

.mainmenu {
	display: none;

	@include mq.mq($from:desktop) {
		display: block;
	}

	&.is-active {
		display: block;
	}

	ul {
		@include mq.mq($from:desktop) {
			display: flex;
			align-items: center;
		}

		li {

			@include mq.mq($from:desktop) {
				padding:0 3.2rem 0 0;
			}

			a {
				font-family: $headings;
				color:$white;
				font-size: 14px;
				letter-spacing: 0.6px;
				font-weight:bold;
				text-decoration: none;
				border-bottom:2px solid transparent;
				border-color: transparent;
				line-height: 1em;

				&:hover, &:focus, &.is-active {
					border-color: $white;
				}
			}
		}
	}
}