@use '../global/mq';

details {
	@include resp((padding-top,padding-bottom), $min_width, $max_width, 8px, 16px);
	@include resp((padding-left,padding-right), $min_width, $max_width, 8px, 24px);
	background:$white;
	border-left:4px solid transparent;
	max-width: 75rem;

	&[open] {
		border-left-color: $brand-primary;

		summary svg {
			transform:rotate(180deg);
		}
	}

	summary {
		font-family: $headings;
		font-size: 17px;
		font-weight:bold;
		color: $brand-primary;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;

		svg {
			margin-left:auto;
		}

		// &:before {
		// 	content:url('/web/themes/custom/design-system/src/images/icon-arrow.svg');
		// 	display: block;
		// 	position: absolute;
		// 	width:10px;
		// 	height:15px;
		// }

		&:hover {
			color:$black;
			text-decoration: underline;
			text-underline-offset: 0.1em;
		}
		
	}

	p {
		@include resp(margin-top, $min_width, $max_width, 8px, 16px);
	}

	+ details {
		border-top:1px solid rgba($black,0.1);	
	}
}

// details:not(.search-advanced):not(.captcha) {
// 	padding: 1.6em 0 1.6em 0em;
// 	border-bottom: 1px solid #F0F0F0;
// 	border-left: 2px solid transparent;
// 	position: relative;

	

// 	&[open] {
// 		border-left-color: $brand-primary;
// 		background: rgba($brand-primary, 0.1);

// 		summary:before {
// 			// background: url(../images/icon-negative.svg) no-repeat;
// 			height: 0.3rem;
// 			top: 2.8rem;
// 		}
// 	}
// 	&:hover {
// 		border-left-color: $brand-primary;
// 		background: rgba($brand-primary, 0.1);
// 		cursor:pointer;
// 	}

// 	&:last-of-type {
// 		@include resp(margin-bottom, $min_width, $max_width, 40px, 80px);
// 	}

// 	summary {
// 		font-size: 2.4rem;
// 		line-height: 1.2em;
// 		font-weight:500;

// 		&:before {
// 			content: '';
// 			display: block;
// 			position: absolute;
// 			width: 2rem;
// 			height: 2rem;
// 			// background: url(../images/icon-plus.svg);
// 			left: 1.6rem;
// 			top: 2rem;
// 		}

// 		span {
// 			padding-left:5rem;
// 			display: inline-block;
// 		}
// 	}

// 	.details__container {
// 		padding: 0 1em 0 2em;

// 		@include mq.mq($from:tablet) {
// 			padding: 0 3em 0 5em;
// 		}

// 		p {
// 			margin: 2.4rem 0 1.6rem;
// 		}
// 	}
// }