.alert {
	@include resp((padding-top,padding-bottom), $min_width, $max_width, 6px, 16px);

	&__permanent {
		background:#FFBF47;

		h2 {
			@extend .sr-only;
		}

	}

	&__dismissable {
		background:#FFBF47;
		
		h2 {
			color:$black;
			margin:0 20px 8px 0;
		}

		&--announcement {
			background: $brand-primary-light;
		}

	}

	// this may need removing for live use...change to use in examples only.
	.container {
		@include resp((padding-left,padding-right), $min_width, $max_width, 6px, 16px);
	}

	

}