.breadcrumbs {
	ol {
		li {
			@include resp(font-size, $min_width, $max_width, 14px, 16px);
			display: inline;
			color:$black;

			a {
				color: $brand-primary;
				padding-right:1em;
				position: relative;

				&:after {
					position: absolute;
					color:$brand-primary;
					display: inline-block;
					content: "/";
					font-size: 18px;
					padding: 0 8px;
					text-decoration: none !important;
				}
			}
		}
	}
}