.example {
	@include resp(margin-bottom, $min_width, $max_width, 24px, 40px);
	border:1px solid $black;
	
	&__wrapper {
		@include resp(padding, $min_width, $max_width, 16px, 24px);
	}

	.title {
		@extend p, .p2;
		background:$brand-primary;
		color:$white;
		display: inline-block;
		padding:6px 8px;
	}


	.html {
		&__title {
			font-family: Montserrat-Bold;
			font-size: 17px;
			color: $black;
			padding:0 8px;
			background: none;
			border: 0;
			cursor: pointer;

			&:hover, &.is-active {
				text-decoration: 2px underline;
				text-underline-offset: 0.1em;
			}
		}
		&__code {
			display:none;

			&.is-active {
				display: block;
			}
		}
		pre {
			font-size: 18px;
			border-radius: 0;
			margin: 0;
		}	
	}

}