@use '../global/mq';

.hero {
	@include resp((padding-top,padding-bottom), $min_width, $max_width, 40px, 160px);
	background-color: $brand-primary;
	background-repeat: no-repeat;
    background-position:100% 0; 


	p {
		color:$white;
	}

	a {
		@include resp(margin-top, $min_width, $max_width, 24px, 40px);
	}
}